.container {
  height: 70px;
  background-color: #112b3c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.title {
  color: #efefef;
  font-size: 24px;
  font-weight: 700;
}
span {
  font-weight: 400;
  font-size: 18px;
}

.btn {
  background-color: #f66b0e;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
}
.btn:hover {
  font-weight: 600;
  background-color: #f66b0ec5;
  cursor: pointer;
}
